{
    "env": { "node": true },
    "ecmaFeatures": {
        "templateStrings": true,
        "objectLiteralShorthandProperties": true
    },
    "rules": {
        "strict": 0,
        "quotes": [1, "single"],
        "camelcase": 1,
        "eqeqeq": [2, "smart"]
    }
}
